@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container{
    background-color: #1f2937;
    width: 100%;
}

section {
    margin : 0 auto 100px auto;
    width: 70%;
    padding:10px

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 10px;
    color: #fff;
    margin: 0 auto;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

ul li {
    display: inline-block;
    margin-right: 40px;
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    display: flex;
    align-items: center;
    flex: 1;
    margin-top: 100px;
    color: #fff;
}

.hero span {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translate(-50% -50%);
    color: #fff;
}

.hero .info-section{
    display: block;
    width: 600px;
}

.info-section h1 {
    font-size: 49px;
    font-weight:700;
    line-height: 1;
}

.info-section p {
    margin-top: 8px;
    font-size: 18px;
    color:#e5e7eb ;
}

.info-section button{
    width: 8rem;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    background-color: #3882f6;
    border: none;
    outline: none;
    margin-top: 10px;
}

button:hover {
opacity: 0.5;
cursor: pointer;
}

.hero > div{
    width: 600px;
    margin-right: 40px;
    border-radius: 1rem;

}

.hero img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 1rem;
}

.random-info {
display: flex;
flex-direction: column;
align-items: center;
gap: 5rem;
background-color: #fff;
border-radius: 1rem;
margin-top: 2rem;
}

.random-info .card {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 2rem;
}

.random-info .card > div {
    width: 200px;
    aspect-ratio: 1 / 1.5;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border: 1px solid none;
    border-radius: .5rem .5rem 0 0;
}

.random-info .card > div img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1.5;
    border-radius: .5rem;

}

.random-info h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 600;
    margin-top: 2rem;
}

.random-info .card > div p {
    padding: 15px;
    font-size: 18px;
    text-align: center;
    color:#293a5c ;
}